* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 2px solid #0ff;
}

.wrapper .table {
    display: flex;
    color: white;
    flex-direction: row;
    font-size: 25px;
    font-weight: bold;
    height: 100px;
}

.wrapper .table span {
    display: inline-block;
    flex-basis: 10%;
    text-align: center;
    line-height: 100px;
}

.wrapper .table h1 {
    flex-basis: 80%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    line-height: 100px;
}

.wrapper canvas {
    border: 2px solid #0ff;
}

.wrapper .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .menu button {
    font-size: 2em;
    margin: 5px 5px;
    border: none;
    padding: 5px 10px;
    transition: .3s;
    background-color: #000;
    color: white;
}

.wrapper .menu button:hover {
    color: #0ff;

}

.menu #check {
    margin-left: 100px;

}

.menu label {
    margin-left: 5px;
}

.endLabel {
    display: none;
}

.winMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0px 0px 20px red;
}

.tryAgain {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    border: none;
    color: white;
    background: #000;
    cursor: pointer;
    transition: .3s linear;
}

.tryAgain span {
    display: block;
    margin-top: 20px;
}

.tryAgain:hover {
    color: gray;
}

.fa-redo {
    transition: .4s linear;
}

.tryAgain:hover .fa-redo {
    transform: rotate(360deg);
    color: red;
}